//### PIRAMIDE ###
@keyframes spin {
    0% {
      transform: rotateY(0deg) rotateX(30deg);
      visibility: visible;
      border-bottom-color: lighten(rgba(50,50,50,.6), 5%);
      
    }
    25% {
      transform: rotateY(90deg) rotateX(30deg);
      border-bottom-color: darken(rgba(50,50,50,.6), 5%);
      opacity: 1;
    }
    25.1% {
      opacity: 1;
    }
    50% {
      transform: rotateY(180deg) rotateX(30deg);
      border-bottom-color: darken(rgba(50,50,50,.6), 12%);
    }
    74.9% {
      opacity: 0;
    }
    75% {
      transform: rotateY(270deg) rotateX(30deg);
      border-bottom-color: darken(rgba(50,50,50,.6), 15%);
      opacity: 1;
    }
    100% {
      transform: rotateY(360deg) rotateX(30deg);
      border-bottom-color: lighten(rgba(50,50,50,.6), 5%);
  
    }
  }
  
  @keyframes show {
    0% {
     visibility: hidden;
      
    }
   
    100% {
     visibility: visible;
    }
  }
  
  
  @media only screen and (max-width:481px){
    #Menu1{
      width:100% !important;  }
    #Menu2{
      width: 100% !important;  }
    .texto-conteudo{
      font-size:80%;
  
    }
   }
   @media only screen and (max-width:640px){
    #wave{
      transform:translateY(40%);
    }
   }
  @media only screen  and (max-height:480px){
    #wave{
      display: none;
    }
    .botao , .primeiro-botao, .botao-fechar{ 
      background:none !important;
      background-color: none!important;
    }
   
  }
  @media only screen and (max-height:450px){
    #titulo-container{
      //font-size: 12pt !important;
    }  .logo{
      height:40px !important;
    }}
  @media only screen and (max-height:330px){
    #titulo-container{
      //font-size: 10pt !important;
    }  .logo{
      height:35px !important;
    }}
  @media only screen and (max-width:550px){
    #conteudo{
      background-position: 67% 60%;
    }}
  
    .delays-1_5s{
      animation-delay: 1.5s !important;
    }
    .delays-3s{
      animation-delay: 3s !important;
    }
    .delays-4s{
      animation-delay: 4s !important;
    }
    .delays-5s{
      animation-delay: 5s !important;
    }
    .delays-6s{
      animation-delay: 6s !important;
    }
    .delays-7s{
      animation-delay: 7s !important;
    }
    .delays-8s{
      animation-delay: 8s !important;
    }
    .delays-10s{
      animation-delay: 12s!important;
    }
    @font-face{
      font-family: 'Azonix';
      src:url('./fonts/Azonix.otf');
    } 
  
    .digitacao{
      animation: 
      typing 1.5s steps(40, end) ,
      blink-caret .40s step-end infinite;
     
    }
    /* Text appears*/
    @keyframes typing {
      from { width: 0 }
      to { width: 100%;
          
    }
    90%{
      border-right:.15em solid white;
    }
    95%{
      border:none;
    }
    100%{
      border:none;
    }
  }
    /* The typewriter cursor effect */
    @keyframes blink-caret {
      from, to { border-color: transparent }
      50% { border-color: white }
      
    }
  
  
  
  //### INDICADOR ###
    .progress{
      height: 40px;
      background: black;
      border-radius: 100px;
      border-color: black; 
      box-shadow: none;
      margin-top: 15px;
      position: relative;
  }
  .progress .progress-title{
      width: 20%;
      height: 100%;
      background: black;
      border-color:black;
      float: left;
      margin: 0;
      font-size: 15px;
      color: white;
      line-height: 40px;
      letter-spacing: 1px;
      text-align: center;
      text-transform: uppercase;
      position: relative;
  }
  .progress .progress-title:after{
      content: "";
      border-color:black;
      position: absolute;
      top: 10px;
      right: -10px;
      z-index: 1;
  }
  .progress .progress-bar{
      width: 80%;
      background: black;
      border-color:black;
      position: relative;
  }
  .progress .progress-value{
      height: 100%;
      border-radius: 0 15px 15px 0;
      border-color:black;
      font-size: 15px;
      font-weight: bold;
      line-height: 40px;
      color: #fff;
      animation: animate-positive 2s;
  }
  .progress.red .progress-value{ background: #ec4251; }
  .progress.green .progress-value{ background: #73cd21; }
  .progress.blue .progress-value{ background: #2e9ce0; }
  .progress.yellow .progress-value{ background: #eea921; }
  
  @keyframes animate-positive{
      0%{ width: 0; }
  }
  @media only screen and (max-width: 480px){
      .progress .progress-title{
          font-size: 12px;
          letter-spacing: 0;
      }
  }